<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="unit1Bar">
    <th mat-header-cell *matHeaderCellDef>Hits to kill opponent</th>
    <td mat-cell *matCellDef="let unitComparison">
      <div *ngIf="unitComparison.unit1.canAttack(unitComparison.unit2)" class="flex flex-row flex-1 h-5 gap-[1px]">
        <ng-container *ngIf="getBarCount(unitComparison) < 50">
          <div *ngFor="let _ of [].constructor(getBarCount(unitComparison)).fill(0); let i = index;"
               class="w-full h-full neutral-bg text-center"
               [ngClass]="{
                'bad-bg opacity-80': i >= unitComparison.unit1RawHits && i <= unitComparison.unit1UpgradedHits,
                'good-bg opacity-80': i < unitComparison.unit1RawHits && i >= unitComparison.unit1UpgradedHits
              }">
            <ng-container *ngIf="i < unitComparison.unit1RawHits && i >= unitComparison.unit1UpgradedHits"></ng-container>
            <ng-container *ngIf="i >= unitComparison.unit1RawHits && i <= unitComparison.unit1UpgradedHits"></ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="getBarCount(unitComparison) >= 50">
          <div style="width: {{ getRatio(unitComparison) }}%" class="h-full neutral-bg text-center"></div>
          <ng-container *ngIf="unitComparison.unit1RawHits < unitComparison.unit1UpgradedHits">
            <div style="width: {{ 100 - getRatio(unitComparison) }}%" class="h-full bad-bg text-center"></div>
          </ng-container>
          <ng-container *ngIf="unitComparison.unit1RawHits > unitComparison.unit1UpgradedHits">
            <div style="width: {{ 100 - getRatio(unitComparison) }}%" class="h-full good-bg text-center"></div>
          </ng-container>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit1Hits">
    <th class="right" mat-header-cell *matHeaderCellDef>Hits</th>
    <td class="right" mat-cell *matCellDef="let unitComparison">
      <ng-container *ngIf="unitComparison.unit1.canAttack(unitComparison.unit2)">
        <ng-container *ngIf="unitComparison.unit1UpgradedHits < unitComparison.unit1RawHits">
          <b class="good-text">{{unitComparison.unit1UpgradedHits - unitComparison.unit1RawHits}}</b>
        </ng-container>
        <ng-container *ngIf="unitComparison.unit1UpgradedHits > unitComparison.unit1RawHits">
          <b class="bad-text">+{{unitComparison.unit1UpgradedHits - unitComparison.unit1RawHits}}</b>
        </ng-container>
        <div class="inline-block w-10">{{ unitComparison.unit1UpgradedHits }}</div>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit1Name">
    <th class="right" mat-header-cell *matHeaderCellDef>My unit</th>
    <td class="right" mat-cell *matCellDef="let unitComparison">
      <div class="flex flex-row justify-end items-center">
        <div>{{ unitComparison.unit1.config.name }}</div>
        <img matTooltip="{{unitComparison.unit1.config.name}}" class="w-10" src="assets/{{unitComparison.unit1.config.name}}.png" />
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit2Name">
    <th mat-header-cell *matHeaderCellDef>Opponent unit</th>
    <td mat-cell *matCellDef="let unitComparison">
      <div class="flex flex-row justify-start items-center">
        <img matTooltip="{{unitComparison.unit2.config.name}}" class="w-10" src="assets/{{unitComparison.unit2.config.name}}.png" />
        <div>{{ unitComparison.unit2.config.name }}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit2Hits">
    <th mat-header-cell *matHeaderCellDef>Hits</th>
    <td mat-cell *matCellDef="let unitComparison">
      <ng-container *ngIf="unitComparison.unit2.canAttack(unitComparison.unit1)">
        {{ unitComparison.unit2UpgradedHits }}
        <ng-container *ngIf="unitComparison.unit2UpgradedHits < unitComparison.unit2RawHits">
          <b class="good-text">{{unitComparison.unit2UpgradedHits - unitComparison.unit2RawHits}}</b>
        </ng-container>
        <ng-container *ngIf="unitComparison.unit2UpgradedHits > unitComparison.unit2RawHits">
          <b class="bad-text">+{{unitComparison.unit2UpgradedHits - unitComparison.unit2RawHits}}</b>
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit2Bar">
    <th class="right" mat-header-cell *matHeaderCellDef>Hits to kill my unit</th>
    <td mat-cell *matCellDef="let unitComparison">
      <div *ngIf="unitComparison.unit2.canAttack(unitComparison.unit1)" class="flex flex-row-reverse flex-1 h-5 gap-[1px]">
        <ng-container *ngIf="getBarCount2(unitComparison) < 50">
          <div *ngFor="let _ of [].constructor(getBarCount2(unitComparison)).fill(0); let i = index;"
               class="w-full h-full neutral-bg text-center"
               [ngClass]="{
                'bad-bg opacity-80': i >= unitComparison.unit2RawHits && i <= unitComparison.unit2UpgradedHits,
                'good-bg opacity-80': i < unitComparison.unit2RawHits && i >= unitComparison.unit2UpgradedHits
              }">
            <ng-container *ngIf="i < unitComparison.unit2RawHits && i >= unitComparison.unit2UpgradedHits"></ng-container>
            <ng-container *ngIf="i >= unitComparison.unit2RawHits && i <= unitComparison.unit2UpgradedHits"></ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="getBarCount2(unitComparison) >= 50">
          <div style="width: {{ getRatio2(unitComparison) }}%" class="h-full neutral-bg text-center"></div>
          <ng-container *ngIf="unitComparison.unit2RawHits < unitComparison.unit2UpgradedHits">
            <div style="width: {{ 100 - getRatio2(unitComparison) }}%" class="h-full bad-bg text-center"></div>
          </ng-container>
          <ng-container *ngIf="unitComparison.unit2RawHits > unitComparison.unit2UpgradedHits">
            <div style="width: {{ 100 - getRatio2(unitComparison) }}%" class="h-full good-bg text-center"></div>
          </ng-container>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
