@tailwind components;
@tailwind utilities;

.fade {
  opacity: 0.45;
}

.right {
  text-align: right;
}

.race-button {
  width: 62px;
  height: 62px;
}

.theme-button-icon {
  width: 32px;
  height: 32px;
}

.theme-button {
  height: 48px;
  color: var(--text-color) !important;
}
